services:

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8000:8000"
    depends_on:
      auth-db:
        condition: service_healthy
    env_file:
      - ./auth-service/.env
    volumes:
    - ./auth-service:/app

  auth-db:
    image: postgres:15
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d authdb"]
      interval: 5s
      timeout: 5s
      retries: 10

  url-db:
    image: postgres:15
    container_name: url-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: urldb
    ports:
      - "5434:5432"
    volumes:
      - url_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d urldb"]
      interval: 5s
      timeout: 5s
      retries: 10

  url-service:
    build: ./url-service
    container_name: url-service
    ports:
      - "8001:8000"
    env_file:
      - ./url-service/.env
    depends_on:
      url-db:
        condition: service_healthy
      auth-service:
        condition: service_started
    volumes:
      - ./url-service:/app

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: shortly-prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.4.1
    container_name: shortly-grafana
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=smtp.gmail.com:587
      - GF_SMTP_USER=${GRAFANA_SMTP_USER}
      - GF_SMTP_PASSWORD=${GRAFANA_SMTP_PASSWORD}
      - GF_SMTP_FROM_ADDRESS=${GRAFANA_SMTP_USER}
      - GF_SMTP_FROM_NAME=Shortly Monitor
      - GF_SMTP_STARTTLS_POLICY=MandatoryStartTLS
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  auth_postgres_data:
  url_postgres_data:
  grafana_data: